@charset "utf-8";
/* CSS Document */
html, body{
    height:100%;
}

body{
    background-image:url(../img/bg.jpg);
    background-attachment:fixed;
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;
    background-color: #000028;
    font-size:16px;
    font-family: Verdana, sans-serif;
}

body.admin{
    background-image:none;
    color: #fff;
}

#ques_count,#logged-in{
    display:inline-block;
}